@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #070936;
}

#header_image {
  position: relative;
  width: 100%;
  text-align: center;
}

#container-fluid {
  background-color: #070936;
}

#name, #tagline {
  position:absolute;
  right:15%;
  left:15%;
  z-index:10;
  padding-top:20px;
  padding-bottom:20px;
  color:#fff;
  text-align:center;
  text-shadow:0 1px 2px rgba(0,0,0,.6)
}

#name {
  margin-top: 40%;
  font-size: 5em;
}

#tagline {
  bottom:450px;
  font-size: 1em;
  border: 5px solid #FFF;
  right:30%;
  left:30%;
  padding: 10px;
}


